apiVersion: llamastack.io/v1alpha1
kind: LlamaStackDistribution
metadata:
  name: llama-stack
  labels:
    {{- include "llama-stack-operator-instance.labels" . | nindent 4 }}
spec:
  replicas: 1
  server:
    containerSpec:
      env:
        {{- if .Values.otelCollector.enabled }}
        - name: TELEMETRY_SINKS
          value: 'console, sqlite, otel_trace'
        - name: OTEL_TRACE_ENDPOINT
          value: 'http://otel-collector-collector.observability-hub.svc.cluster.local:4318/v1/traces'
        - name: OTEL_METRIC_ENDPOINT
          value: 'http://otel-collector-collector.observability-hub.svc.cluster.local:4318/v1/metrics'
        - name: OTEL_SERVICE_NAME
          value: llamastack
        {{- end }}
        - name: MODEL_NAME_0
          value: {{ .Values.MODEL_NAME_0 | quote }}
        - name: MODEL_URL_0
          value: {{ .Values.MODEL_URL_0 | quote }}
        - name: MODEL_API_TOKEN_0
          value: {{ .Values.MODEL_API_TOKEN_0 | quote }}
        - name: MODEL_NAME_1
          value: {{ .Values.MODEL_NAME_1 | quote }}
        - name: MODEL_URL_1
          value: {{ .Values.MODEL_URL_1 | quote }}
        - name: MODEL_API_TOKEN_1
          value: {{ .Values.MODEL_API_TOKEN_1 | quote }}
        - name: MODEL_NAME_2
          value: {{ .Values.MODEL_NAME_2 | quote }}
        - name: MODEL_URL_2
          value: {{ .Values.MODEL_URL_2 | quote }}
        - name: MODEL_API_TOKEN_2
          value: {{ .Values.MODEL_API_TOKEN_2 | quote }}
      name: llama-stack
      port: 8321
    distribution:
      image: {{ .Values.distribution.image | quote }}
    userConfig:
      configMapName: llama-stack-config